<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Title</title>
</head>
<body>

    <div class="container">
        <div class="card" th:each ="fruit : ${fruitList}">
            <div class="image">
                <img th:src="@{'/img/' + ${fruit.name} + '.png'}" alt="fruit">
            </div>
            <div class="point">
                <h1>+2</h1>
            </div>
        </div>
    </div>

        <div class="button">
            <form class="button" th:action="@{/startGame}" method="get">
                <input type="submit" value="START"/>
            </form>
        </div>

</body>
</html>